<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ppl.fikkrip.itrip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.MainActivity" />
        <activity android:name=".controller.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.RegisterActivity" />
        <activity android:name=".controller.activity.LoginActivity" />
        <activity
            android:name=".controller.activity.SumateraActivity"
            android:parentActivityName=".controller.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.KalimantanActivity"
            android:parentActivityName=".controller.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.SulawesiActivity"
            android:parentActivityName=".controller.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.JawaActivity"
            android:parentActivityName=".controller.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.PapuaActivity"
            android:parentActivityName=".controller.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.NatureActivity"
            android:parentActivityName=".controller.activity.SumateraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.CultureActivity"
            android:parentActivityName=".controller.activity.SumateraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.CulinaryActivity"
            android:parentActivityName=".controller.activity.SumateraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.ModernActivity"
            android:parentActivityName=".controller.activity.SumateraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controller.activity.EventActivity"
            android:parentActivityName=".controller.activity.SumateraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.MainActivity" />
        </activity>
    </application>

</manifest>